<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Capture Form</title>
</head>

<body>
    <h1>Register for The Expo</h1>
    <form method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="job_title">Job Title:</label>
        <input type="text" id="job_title" name="job_title"><br>
        <label for="company">Company:</label>
        <input type="text" id="company" name="company"><br>
        <label for="interest">Interests :</label>
        <select id="interest" name="interest">
            <option value="Engineer Operator New Technology">Engineer / Operator Looking For New Technology</option>
            <option value="Purchase Personnel Boiler Manufacturing Company">Purchase Personnel For Boiler Manufacturing
                Company</option>
            <option value="Renewable Energy Project Developer">Renewable Energy Project Developer</option>
            <option value="Design Engineer Consultant">Design Engineer / Consultant</option>
            <option value="Academician Student">Academician / Student</option>
            <option value="Purchase Personnel Boiler User Industry">Purchase Personnel From Boiler User Industry
            </option>
            <option value="Regulatory Authority Policy Maker Urban Planning Specialist Utility Energy Company">
                Regulatory Authority / Policy Maker / Urban Planning Specialist / Utility & Energy Company</option>
            <option value="Academician Student Engineering College">Academician / Student / Engineering College</option>
            <option value="Research Development Institution">Research & Development Institution</option>
            <option value="Agencies Deal Instrumentation">Agency Dealing In Instrumentation</option>
            <option value="Investor Banker Venture Capitalist">Investor / Banker / Venture Capitalist</option>
            <option value="Other">Other</option>
        </select>
        <br>
        <button type="submit">Go to Problem Statements</button>
    </form>
</body>

</html>